body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 3px;
}
