@use './assets/styles/ant.scss';
@use './assets/styles/animation.scss';

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}

::selection {
  background-color: #d6f5ff;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

@media screen and (max-width: 896px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}
