.ant-popover {
  .ant-popover-content {
    padding: 8px 8px 0 8px !important;
  }
}

// .ant-popover {
//   &:has(.popover-box) {
//     .ant-popover-inner {
//       padding: 4px !important;
//     }
//   }
// }
